<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div class="center jumbotron">
  
  <h1>Welcome to the Tadhg and Piotrs Bicycle Shop</h1>

  <h2>
    This is the home page for the
    best damn bicycle shop in town!
  </h2>
  

  

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>


            
            <div class="row">
  <div class="col-sm-6">.<%= link_to image_tag("fast.png", size: "500x400", alt: "new bicycles"),
            items_path %></div>
            
            
  
  <div class="col-sm-6"><%= link_to image_tag("Bike_Parts.jpg", size: "500x400", alt: "bicycle parts"),
            parts_path %></div>
            </div>
            
            
            
            <div class="row">
  <div class="col-sm-6"><%= link_to image_tag("gear.jpg", size: "500x400", alt: "bicycle gear"), 
            gear_path%></div>
            
 <div class="col-sm-6"><%= link_to image_tag("repair.jpg", size: "500x400", alt: "bicycle repairs"),
            repairs_path %></div>
            </div>
</div>


<% end %>