

<p id="notice"><%= notice %></p>

<p>
  <h1>
  
  <%= @item.name %>
  </h1>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @item.image_url %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %>



  