<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @order_item.product_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @order_item.cart_id %>
</p>

<%= link_to 'Edit', edit_order_item_path(@line_item) %> |
<%= link_to 'Back', order_items_path %>