<div class="well">

  <div class="row">
    <div class="image-right">
            <%= link_to (image_tag product.image_url, :style => "height:100px") %>
        </div>
    <div class="col-xs-8">
      <h4><%= product.name %></small></h4>
    </div>
    <div class="col-xs-8">
      <h4><%= product.description %></small></h4>
    </div>
    <div class="col-xs-4">
      
      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
          
          | <%#= link_to 'Edit', edit_product_path(@product) %> |
<%#= link_to 'Delete'%> |
          
          
<%#= link_to 'Delete'%> 
        </div>
      <% end %>
    </div>
    
  </div>
</div>